<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Brawl movies</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
<header th:insert="/blocks/headerEmployee"/>
<style>
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>

<form method="post" class="center" th:object="${actor}">
    <h1 class="h2 mb-3 fw-normal">Изменить актера</h1>
    <div class="col-md-12">
        <input th:field="*{surname}" th:value="${actor.getSurname()}" type="text" class="form-control" name="surname" placeholder="Фамилия">
        <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
    </div>
    <br/>
    <div class="col-md-12">
        <input th:field="*{name}" th:value = "${actor.getName()}" type="text" class="form-control" name="name" placeholder="Имя">
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    </br>
    <div class="col-md-12">
        <input th:field="*{middlename}" th:value="${actor.getMiddlename()}" type="text" class="form-control" name="middlename" placeholder="Отчество">
        <div style="color: red" th:if="${#fields.hasErrors('middlename')}" th:errors="*{middlename}"></div>
    </div>
    <br/>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Отправить</button>
</form>
</body>
</html>